body{
    font-family: Arial, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    height: 73px;
    background: #344051;
}
.header-container{
    width: 1110px;
    margin: 0 auto;
    display: flex;
}
.logo{
    margin-right: 40px;
    color: #fff;
    font-size: 28px;
}
.nav{
    color: #fff;
    font-size: 20px;
    display: flex;
    margin-left: auto;
}
.nav-link{
    display: flex;
    color: #fff;
    align-items: center;
    margin-right: 32px;
}
/*.header{
    width: 100%;
    height: 60px;
    background: #344051;
}
.container{
    max-width: 1180px;
    margin: 0px auto;}
.header__top{}
.header__logo{
    color: #fff;
    font-size: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60%;

    /*font-size: 28px;
    padding: 15px 180px 15px 100px;
}
.nav{}
.nav__list{
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 100px 90px 500px;
}*/
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/dinar.jpg) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.hi__body{
    float: left;
    margin: 200px 100px;
    color: #2c384a;
    text-align: center;
}
.hi__title{
    font-size: 60px;
    font-weight: bold;
}
.hi__title_{
    margin-top: 40px;
    font-size: 22px;
    color: #79819d; 
}
.hi__list input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 16px;
    margin: 50px 14px 0px 14px;
}
.obomne{
    width: 100%;
    
    
}
.obo__title{
    margin-top:100px;
    text-align: center;
    /*display: flex;
    justify-content: baseline;
    margin: 60px 100px 0px 110px;*/
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
}
.obo__title_{ 
}
.obomne img{
    display: flex;
    height: 65px;
    margin: 50px 580px;
    width: 150px;
    height: 158px;
    border-radius: 50%;
}
.obo__text{
    max-width: 688px;
    color: #586170;
    font-size: 16px;
    text-align: center;
    line-height: 25.89px;
    margin: 0px 300px;
    /*text-align: center;
    font-size: 16px;
    color: #586170;
    margin: 50px 600px;*/
}
.obo__inp { 
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 16px;
    margin: 60px 580px;
    padding: 10px 16px;
}
.what__i {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/fon.jpg) center/cover no-repeat;
}
.what__title {
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0px 0px 20px;
}
.what__title_{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 20px;
}
.what__text {
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    margin: 15px 0px 0px 20px;
}
.what-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 35px 0px 0px 100px;
    font-size: 16px;
    color: #d17700;
}


/*.what-list__text {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;

}*/
.keis__i{
    width: 100%;
}
.keis__title {
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0px 0px 20px;
}
.keis__title_{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 20px;
}
.keis__text {
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    margin: 15px 0px 0px 20px;
}
.keis__pictyre {
    display: flex;
    justify-content: flex-start;
    margin: 15px 0px 0px 60px;
}
.keis__clie_{
    font-size: 16px;
    margin: 0 0 0 60px;
}
.keis__text_{
    text-transform: uppercase;
    margin: 0px 0px 0px 80px;
}
.raschet__title{
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0px 0px 20px;
}
.raschet__title_ {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 20px;
}
.raschet__text{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px 0px 280px;
}
.raschet-sel{
    margin: 30px 0px 50px 280px;
    height: 56px;
    width: 60%;
    border: 2px solid #eeeeee;
    background: #eeeeee;
}
.raschet__text_{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px 0px 280px;
}
.raschet-sel_{
    margin: 30px 0px 50px 280px;
    height: 56px;
    width: 60%;
    border: 2px solid #eeeeee;
    background: #eeeeee;
}
.raschet__text__{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px 0px 280px;
}
.raschet-sel__{
    margin: 30px 0px 50px 280px;
    height: 56px;
    width: 60%;
    border: 2px solid #eeeeee;
    background: #eeeeee;
}
.raschet__pict{
    margin: 30px 0px 50px 280px;
}
.raschet-text__title{
    display: flex;
    justify-content: flex-start;
    margin: 5px 0px 0px 280px;
}
.raschet__title-title_{
    display: flex;
    justify-content: center;
    margin: 0px 0px 5px 800px;
}
.nem__i{
    width: 100%;
    height: calc(500px - 60px);
    background: url(../img/klaviatura.jpg) center/cover no-repeat;
}
.nem__title{ 
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0px 0px 20px;
}
.nem__title_{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 20px;
}.nem-list{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 35px 0px 0px 100px;
    font-size: 16px;
    color: #d17700;
}
.otz__title {
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0px 0px 20px;
}
.otz__title_{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 20px;
}
.otz__text{ 
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    margin: 15px 0px 0px 20px;   
}
.moi__i{
    width: 100%;
    height: calc(800px - 60px);
    background: url(../img/mouse.jpg) center/cover no-repeat;
    margin-top: 80px;
}
.moi__title{ 
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0px 0px 20px;
    color: #fff;   
}
.moi__title_{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 20px;
}
.moi-list{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 35px 0px 0px 100px;
    font-size: 16px;
    color: #fff;
}
.moi-list__icon_{
    margin: 35px 0px 0px 300px;
}
.moi-list__text__{
margin: 15px 0px 0px 0px;
}
.moi-list__icon__{
    margin: 35px 0px 0px 300px;
}
.moi-list__text___{
    margin: 15px 0px 0px 0px;
}
.moi-list__icon___{
    margin: 35px 0px 0px 300px;
}
.moi-list__text____{
    margin: 15px 0px 0px 0px;
}
.mesen__title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 100px 0px 0px 0px; 
}
.mesen_input{
display: flex;
justify-content: center;
}
.my_glass{
margin: 40px 0px 0px 0px;
}
.my_heat{
    text-align: center;
    margin: 40px 0px 0px 0px;
}
.footer__text {
    display: inline-flex;
    justify-content: center;
}