            body {
                font-family: Arial, sans-serif;
            }
            
            nav {
                width: 100%;
                height: 60px;
                background: #344051;
            }
            
            .logo {
                display: flex;
                justify-content: flex-end;
                color: #fff;
                font-size: 28px;
                line-height: 60px;
                padding-right: 388px;
                float: left;
            }
            
            .menu {
                display: flex;
                /*float: left;
                padding-left: 432px;*/
            }
            
            .menu li {
                justify-content: flex-end;
                float: left;
                line-height: 60px;
                color: #fff;
                margin-right: 40px;
                font-size: 16px;
                text-transform: uppercase;
            }
            
            .main {
                width: 100%;
                height: calc(100% - 60px);
                background: url(../img/dinar.jpg) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
            }
            
            .title__container { 
                float: left;
                margin: 190px 80px;
                /*margin: 432px 0px 0 404;*/
                color: #2c384a;
                text-align: center;
            }
            
            .title__container h1 {
                font-size: 60px;
                font-weight: bold;
            }
            
            .title__container h4 {
                margin-top: 40px;
                font-size: 22px;
                color: #79819d;
            }
            
            .title__container input {
                height: 40px;
                text-align: center;
                border: 2px solid #6d7682;
                background: none;
                border-radius: 5px;
                color: #6d7682;
                font-size: 13px;
                padding: 0 16px;
                margin: 50px 14px 0px 14px;
            }
            
            .house {
                width: 100%;
            }
            
            .title__containerlist h2 {
                margin-top:100px;
                text-align: center;
                font-size: 23px;
                text-decoration: 3px underline #d17700;
                /*margin-top: 100px;
                text-align: center;
                font-size: 23px;
                display: block;
                border-bottom: 3px solid #d17700;
                line-height: 35px;*/
            }
            
            .title__containerlist img {
                margin: 30px auto;
                width: 150px;
                height: 158px;
                border-radius: 50%;
                display: block;
                /*margin: 80px 580px;
                width: 150px;
                height: 150px;
                border-radius: 50%;*/
            }
            
            .title__containerlist h4 {
                text-align: center;
                font-size: 16px;
                color: #586170;
                margin-top: 20px;
            }
            
            .title__containerlist input {
                height: 40px;
                text-align: center;
                border: 2px solid #6d7682;
                background: none;
                border-radius: 5px;
                color: #6d7682;
                font-size: 13px;
                padding: 0 16px;
                margin: 50px 14px 0px 580px;
                /*height: 40px;
                text-align: center;
                border: 2px solid #6d7682;
                background: none;
                border-radius: 5px;
                color: #6d7682;
                font-size: 13px;
                padding: 0 16px;
                margin: 60px 580px;*/
            }
            
            .car {
                width: 100%;
                height: calc(100% - 60%);
                background: url(../img/fon.jpg) center/cover no-repeat;
            }
            
            .title__containertest h2 {
                margin-top: 60px;
                text-align: center;
                font-size: 23px;
                text-decoration: 3px underline #d17700;
                /*padding-left: 50%;
                font-size: 23px;
                font-weight: bold;
                position: relative;
                display: inline-block;*/
                /*text-decoration: 5px underline #d17700;*/
            }
            h2::after{
                content: '';
                position: absolute;
                background: #d17700;
                left: 0;
                bottom: -10px;
                width: 100%;
                height: 2px;
            }
            .title__containertest h4 {
                text-align: center;
                font-size: 16px;
                margin-top: 50px;
            }
            
            .title__containertest ul {
                display: flex;
                justify-content: center;
                text-align: center;
                margin-top: 50px;
                color: #d17700;
                line-height: 30px;
                padding-left: 100px;
                float: left;
            }
            
            .my_frend {
                margin-left: 50px auto;
                float: left;
                padding-left: 130px;
            }
            
            .nase {
                width: 100%;
            }
            
            .title__containerbar h2 {
                margin-top: 105px;
                text-align: center;
                font-size: 23px;
                font-weight: bold;
                text-decoration: 5px underline #d17700;
            }
            
            .title__containerbar h4 {
                margin-top: 20px;
                text-align: center;
                font-size: 16px;
            }
            
            .title__containerbar li {
                margin: 30px 10px;
                padding-right: 320px;
            }
            
            .waser {
                width: 100%;
            }
            
            .title__containerbare h2 {
                margin-top: 210px;
                text-align: center;
                font-size: 23px;
                font-weight: bold;
            }
            
            .title__containerbare h3 {
                margin-top: 50px;
                text-align: left;
                padding-left: 300px;
            }
            
            .title__containerbare select {
                margin-left: 200px;
                width: 80%;
                border: 2px solid #79819d;
            }
            
            .title__containerbare picture {
                width: 100%;
            }
            .title__containerbare img{
                margin: 20px 50px 50px 50px;
            }
            
            .title__containerbare h5 {
                margin-top: 30px;
                text-align: left;
                padding-left: 300px;
            }
            
            .name {
                float: left;
                width: 100%;
                margin-top: 150px;
                height: calc(100% - 60%);
                background: url(../img/klaviatura.jpg) center/cover no-repeat;
            }
            
            .title__containernum h2 {
                text-align: center;
                font-size: 24px;
                font-weight: 700;
            }
            
            .title__containernum ul {
                text-align: center;
                margin: 20px 120px;
                color: #d17700;
                line-height: 50px;
                float: left;
                /*text-align: center;
                margin-top: 20px;
                color: #d17700;
                line-height: 30px;
                padding-left: 20px;
                float: left;*/
            }
            
            .my_skill {
                float: left;
                margin-top: 30px;
                padding-left: 100px;
            }
            
            .kinder {
                width: 100%;
            }
            
            .title__containervic h2 {
                margin-top: 30px;
                text-align: center;
                font-size: 23px;
                text-decoration: 3px underline #d17700;
                /*margin-top: 300px;
                text-align: center;
                font-size: 24px;
                font-weight: 700;*/
            }
            
            .title__containervic h4 {
                margin-top: 50px;
                text-align: center;
                font-size: 16px;
            }
            
            .hopf {
                float: left;
                width: 100%;
                margin-top: 150px;
                height: calc(115% - 10%);
                background: url(../img/mouse.jpg) center/cover no-repeat;
            }
            
            .title__containermor h2 {
                margin-top: 30px;
                text-align: center;
                font-size: 23px;
                text-decoration: 3px underline #d17700;
                /*text-align: center;
                display: block;
                border-bottom: 3px solid #d17700;
                line-height: 35px;
                text-align: center;
                font-size: 24px;
                color: white;*/
            }
            
            .title__containermor ul {
                text-align: left;
                margin-top: 20px;
                color: white;
                line-height: 30px;
                padding-left: 20px;
                float: left;
            }
            
            .my_heater {
                float: left;
                margin-top: 30px;
                padding-left: 200px;
            }
            
            .title__containermor h4 {
                margin-top: 200px;
                text-align: center;
                font-size: 16px;
                color: white;
            }
            
            .form {
                margin: 50px auto;
                text-align: center;
            }
            
            .title__containermor input {
                height: 40px;
                text-align: center;
                color: #6d7682;
                font-size: 13px;
                padding: 0 16px;
                margin: 50px 14px 0px 14px;
                color: white;
            }
            
            .my_heat {
                margin: 60px 600px;
                height: 40px;
                text-align: center;
                border: 2px solid white;
                background: none;
                border-radius: 5px;
                color: white;
                font-size: 13px;
                padding: 0 16px;
            }
            
            .my_glass {
                margin-top: 35px;
            }
            
            .title__containermor footer {
                margin-top: 100px;
                text-align: center;
            }